.tracksList {
  padding-top: 40px;
}
.tracksItem {
  margin-bottom: 40px;
}

.tracksTitle {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 15px;

  svg {
    width: 30px;
    height: 27px;
    align-items: center;
    margin-right: 3px;
  }

  h4 {
    font-size: 30px;
    margin-right: 15px;
  }
}


.tracksLine {
  flex-grow: 1;
  background: #D0D5DF;
  height: 1px;
}