.taskForm {
  position: fixed;
  right: -1000px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  padding: 15px 70px 15px 15px;
  width: 40%;
  min-height: 90%;
  border-radius: 5px 0 0 5px;
  border: 1px solid #064AB1;
  transition: all .3s linear;
  opacity: 0;
  display: flex;
  flex-direction: column;

  @media (max-width: 1024px) {
    width: 100%;
    height: 100%;
  }

  &._active {
    right: -2px;
    opacity: 1;
    @media (max-width: 1024px) {
      top: 0;
      right: -50%;
      transform: translateX(-50%);
    }
  }


  .titleInput {
    font-size: 25px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 0;
    margin-bottom: 10px;
    height: 50px;
  }

  .descInput {
    border: 1px solid #D0D5DF;
    height: 130px;
  }

  h6 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
    span {
      font-weight: 500;
      color: #064AB1;
    }
  }

}

.taskStatuses {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}



.closeFormBtn {
  position: absolute;
  right: 20px;
  top: 20px;
  outline: none;

  svg {
    width: 40px;
    height: 40px;
  }
}


