.taskForm {
  position: fixed;
  right: -2px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  padding: 15px;
  width: 40%;
  min-height: 90%;
  border-radius: 5px 0 0 5px;
  border: 1px solid #064AB1;
}