.archiveConfirmModal {
  padding: 40px 20px;
  h3 {
    line-height: 1.3;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 40px;
  }

  display: flex;
  flex-direction: column;
  align-items: center;

}


.archiveConfirmBtns {
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  @media (max-width: 1280px) {
    width: 100%;
  }
  @media (max-width: 550px) {
    flex-direction: column;
    align-items: center;
  }

}