.taskCard {
  width: 100%;
  background-color: #fff;
  padding: 10px 15px;
  margin-bottom: 15px;
  border: 1px solid #ADB9C7;
  border-radius: 3px;
  min-height: 150px;
  cursor: pointer;
  &:hover {
    background: #ededed url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='512' height='512' x='0' y='0' viewBox='0 0 64 64' style='enable-background:new 0 0 512 512' xml:space='preserve' class=''%3e%3cg%3e%3cpath d='M57 25h-3.088a22.906 22.906 0 0 0-1.472-3.541l2.187-2.187a4 4 0 0 0 0-5.657l-4.242-4.242a4 4 0 0 0-5.657 0l-2.187 2.187A22.906 22.906 0 0 0 39 10.088V7a4 4 0 0 0-4-4h-6a4 4 0 0 0-4 4v3.088a22.906 22.906 0 0 0-3.541 1.472l-2.187-2.187a4 4 0 0 0-5.657 0l-4.242 4.242a4 4 0 0 0 0 5.657l2.187 2.187A22.906 22.906 0 0 0 10.088 25H7a4 4 0 0 0-4 4v6a4 4 0 0 0 4 4h3.088a22.906 22.906 0 0 0 1.472 3.541l-2.187 2.187a4 4 0 0 0 0 5.657l4.242 4.242a4 4 0 0 0 5.657 0l2.187-2.187A22.906 22.906 0 0 0 25 53.912V57a4 4 0 0 0 4 4h6a4 4 0 0 0 4-4v-3.088a22.906 22.906 0 0 0 3.541-1.472l2.187 2.187a4 4 0 0 0 5.657 0l4.242-4.242a4 4 0 0 0 0-5.657l-2.187-2.187A22.906 22.906 0 0 0 53.912 39H57a4 4 0 0 0 4-4v-6a4 4 0 0 0-4-4ZM32 44a12 12 0 1 1 12-12 12 12 0 0 1-12 12Z' style='' fill='%230d77e7' data-original='%233392e6' class='' opacity='1'%3e%3c/path%3e%3c/g%3e%3c/svg%3e") no-repeat 96% 6%;
    background-size: 25px 25px;
  }

  h4 {
    color: #000;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.1;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &.high {
    border-color: #ff0000;

    .taskPriority {
      background-color: #ff0000;
    }
  }
  &.tall {
    border-color: #FFA011;

    .taskPriority {
      background-color: #FFA011;
    }
  }
  &.lower {
    border-color: #535353;

    .taskPriority {
      background-color: #535353;
    }
  }
  &.common {
    border-color: #0D77E7;

    .taskPriority {
      background-color: #0D77E7;
    }
  }
  &.medium {
    border-color: #01DA32;

    .taskPriority {
      background-color: #01DA32;
    }
  }
}

.taskTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;

}

.taskPriority {
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 13px;
  padding: 5px 10px;
  color: #ffffff;
  background-color: #535353;
}


.taskDesc {
  margin-bottom: 10px;
  line-height: 1.3;
  height: 40px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.taskExecutor {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7px;

  p {
    display: flex;
    align-items: center;
    color: #064AB1;

    svg {
      width: 15px;
      height: 15px;
      margin-right: 5px;
    }
  }

  span {
    display: flex;
    align-items: center;

    svg {
      margin-right: 1px;
      width: 25px;
      height: 25px;
    }
  }
}

.taskDate {
  display: flex;
  align-items: center;
  margin-bottom: 15px;

  svg {
    width: 15px;
    height: 15px;
    margin-right: 5px;
  }
}

.taskProgress {
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    display: flex;
    align-items: center;

    svg {
      margin-right: 5px;
      width: 18px;
      height: 18px;
    }
  }
}