.columnsList {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 40px;

  li {
    padding: 10px 10px 10px 20px;
    border: 1px solid #D0D5DF;
    border-radius: 3px;
  }
}